body {
    font-size: 16px;
    color: #444;
}

.commentr .error {
    color: red;
}

.commentr .comment {
    margin-top: 10px;
    padding: 10px;
    background-color: #f7f7f7;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.commentr .author {
    font-weight: bold;
}

.commentr .timestamp {
    font-style: italic;
    font-size: .9em;
}

.commentr form {
    padding: 5px;
}

.commentr form input:not([type=hidden]),
.commentr form label,
.commentr form textarea,
.commentr form button {
    display: block;
    margin-top: 5px;
}


.commentr form input:not([type=hidden]),
.commentr form label,
.commentr form textarea {
    width: 100%;
}
